@using KekikStream.Webtop.Localization
@using Microsoft.Extensions.Localization
@using KekikStream.Webtop.Medias
@inject IMediaAppService mediaService
@inject IStringLocalizer<WebtopResource> L
@inject IJSRuntime js

<ModalHeader>
    <ModalTitle>@plugin?.Name | @mediaInfo?.Title</ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody>
    <LoadingIndicator @bind-Visible="@isBusy">
        <Container>
            <Row>
                <Column>
                    <Card>
                        <CardBody>
                            <Row style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: flex-start;">
                                <Column sm="4" style="flex: 0 0 200px; max-width: 200px; margin-bottom: 10px;">
                                    <img src="@mediaInfo?.Poster" class="img-fluid" style="max-width: 100%; height: auto;" />
                                </Column>
                                <Column style="flex: 1; margin-top: 0; margin-bottom: 10px;">
                                    <p>@mediaInfo?.Description</p>
                                    <p><strong>Imdb:</strong> @mediaInfo?.Rating | <strong>@L["Year"]:</strong> @mediaInfo?.Year |  <strong>@L["Tags"]:</strong> @mediaInfo.Tags</p>
                                    <p><strong>@L["Actors"]:</strong> @mediaInfo?.Actors</p>
                                </Column>
                            </Row>

                            @* <Row>
                            <Column>
                                <p style="text-align:center"><strong>@L["Actors"]:</strong> @mediaInfo?.Actors</p>
                            </Column>
                        </Row> *@

                            <Row>
                                @if(videoLink != null && videoLink.VideoSources.Count > 0){
                                    <Buttons>
                                        @foreach(var source in videoLink.VideoSources){
                                            <Button Color="Color.Secondary" style="margin:1px" Clicked='() => SetVideoSource(source)'>@source.Name</Button>
                                        }
                                    </Buttons>
                                }

                                <Column>
                                   <Video @ref="videoPlayer" Source="@videoSource" Poster="@mediaInfo?.Poster" />
                                   
                                   @*  <video width="100%" controls playsinline src="@videoUrl" type="video/mp4">
                                        @if (subTitles != null && subTitles.Count > 0)
                                        {
                                            @foreach (var sub in subTitles)
                                            {
                                                <track kind="subtitles" label="@sub.Name"
                                                       srclang="@sub.Name.ToLower()"
                                                       src="@sub.Url" default />
                                            }
                                        }
                                    </video> *@
                                   
                                    @* <Video Source="@("http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4")" /> *@

                                   @*  <Video @ref="videoPlayer" Source="@videoUrl" Poster="@mediaInfo?.Poster" Controls 
                                           SettingsList="[VideoSettingsType.Captions, VideoSettingsType.Quality, VideoSettingsType.Speed]" 
                                           ControlsList="[VideoControlsType.PlayLarge, VideoControlsType.Play, VideoControlsType.Progress, VideoControlsType.CurrentTime, VideoControlsType.Mute, VideoControlsType.Volume, VideoControlsType.Captions, VideoControlsType.Settings, VideoControlsType.Pip, VideoControlsType.Airplay, VideoControlsType.Fullscreen]">

                                        <track kind="captions" label="Türkçe" srclang="tr" src="https://storage.diziyou2.com/subtitles/25751/tr.vtt" />
                                        @if (subTitles != null && subTitles.Count > 0)
                                        {
                                            @foreach (var sub in subTitles)
                                            {
                                                <track kind="captions" label="@sub.Name"
                                                       srclang="@sub.Name.ToLower()"
                                                src="@sub.Url" default
                                                />
                                            }
                                        }
                                   </Video> *@
                                </Column>
                        </Row>

                        @if (mediaInfo?.Seasons != null & mediaInfo?.Seasons?.Count > 0)
                        {
                            <Tabs SelectedTab="1" Style="margin-top: 10px">
                                <Items>
                                    @foreach (var season in mediaInfo.Seasons)
                                    {
                                        <Tab Name="@season.SeasonNumber.ToString()">@L["Season"] @season.SeasonNumber</Tab>
                                    }
                                </Items>
                                <Content>
                            @foreach (var season in mediaInfo.Seasons)
                                {

                                    <TabPanel Name="@season.SeasonNumber.ToString()">
                                    <ul>
                                        @foreach (var episode in season.Episodes)
                                        {
                                            <li>
                                                <Button Color="Color.Default" Size="Size.Small" Clicked='() => GetVideoLinks(episode.Url)'>
                                                     <strong>@L["Episode"] @episode.EpisodeNumber </strong> @episode.Title
                                                </Button>
                                            </li>
                                        }
                                    </ul>
                                    </TabPanel>
                                }
                                </Content>
                        </Tabs>
                        }

                        @* <Tabs @bind-ActiveIndex="@selectedTabIndex" SelectedTab="season1" Style="margin-top: 10px">
                            <Items>
                                <Tab Name="season1">Sezon 1</Tab>
                                <Tab Name="season2">Sezon 2</Tab>
                                <Tab Name="season3">Sezon 2</Tab>
                                <Tab Name="season4">Sezon 3</Tab>
                            </Items>
                            <Content>
                                <TabPanel Name="season1">
                                    <ul>
                                        <li><strong>Bölüm 1:</strong> Konu</li>
                                        <li><strong>Bölüm 2:</strong> Konu</li>
                                        <li><strong>Bölüm 3:</strong> Konu</li>
                                        <li><strong>Bölüm 4:</strong> Konu</li>
                                    </ul>
                                </TabPanel>
                                <TabPanel Name="season2">
                                    <ul>
                                        <li><strong>Bölüm 1:</strong> Konu</li>
                                        <li><strong>Bölüm 2:</strong> Konu</li>
                                        <li><strong>Bölüm 3:</strong> Konu</li>
                                        <li><strong>Bölüm 4:</strong> Konu</li>
                                    </ul>
                                </TabPanel>
                                <TabPanel Name="season3">
                                    <ul>
                                        <li><strong>Bölüm 1:</strong> Konu</li>
                                        <li><strong>Bölüm 2:</strong> Konu</li>
                                        <li><strong>Bölüm 3:</strong> Konu</li>
                                        <li><strong>Bölüm 4:</strong> Konu</li>
                                    </ul>
                                </TabPanel>
                                <TabPanel Name="season4">
                                    <ul>
                                        <li><strong>Bölüm 1:</strong> Konu</li>
                                        <li><strong>Bölüm 2:</strong> Konu</li>
                                        <li><strong>Bölüm 3:</strong> Konu</li>
                                        <li><strong>Bölüm 4:</strong> Konu</li>
                                    </ul>
                                </TabPanel>
                            </Content>
                        </Tabs> *@
                    </CardBody>
                </Card>
            </Column>
        </Row>
    </Container>
</LoadingIndicator>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="() => CancelAsync()">@L["Close"]</Button>
    @* <Button Color="Color.Primary" Clicked="() => SaveAsync()">@L["Save"]</Button> *@
</ModalFooter>

@code
{
    [Inject] public IModalService ModelInfoComponentService { get; set; }

    private int selectedTabIndex = 0;

    private async Task SaveAsync()
    {
        await ModelInfoComponentService.Hide();
    }

    private async Task CancelAsync()
    {
        await ModelInfoComponentService.Hide();
        await videoPlayer?.Stop();
    }
}
